<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
    <script src="/static/js/header.js" defer></script>
    <link rel="stylesheet" href="/static/css/header.css">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include 'partials/header.html' %}
    
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    {% block scripts %}{% endblock %}
    {% if ingredient_categories %}
    <script>
        const ingredientCategories = {{ ingredient_categories | tojson }};
    </script>
{% endif %}
</body>
</html>